
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #36bfe9;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #bab5b5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}
.name{
    display: flex;
    gap: 80px;
 }

.gender{
    display:flex;
    gap: 10px;
    
} 

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align:  center;
    font-size: 18px;
    margin: 20px;
}